<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div th:fragment="log_form (type)">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mx-auto bg-dark rounded pt-2 pb-3">
                    <div th:if="${param.logout}" class="alert alert-warning text-center" role="alert">
                        You have been logged out.
                    </div>
                    <div class="mb-3 form-title">
                        <div class="col-md-12 text-center">
                            <h3 th:text="${#strings.capitalize(type)}" ></h3>
                        </div>
                    </div>
                    <div class="alert alert-success" role="alert" th:if="${message != null}" th:text="${message}"></div>
                    <form action="#" th:action="@{/} + ${type}" method="post" th:object="${user}">
                        <div class="form-group row" th:if="${type == 'registration'}">
                            <div class="col-sm-12">
                                <input th:value="${user != null} ? *{email}: ''" type="email" class="form-control" name="email" id="loginEmail" placeholder="example@exam.com" th:classappend="${user != null and #fields.hasErrors('email')} ? 'is-invalid': ''"/>
                                <span class="invalid-feedback" th:if="${user != null and #fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>
                        </div>
                        <div class="form-group row" th:if="${type == 'registration'}">
                            <div class="col-sm-12">
                                <input th:value="${user != null} ? *{name}: ''" type="text" class="form-control" name="name" id="loginName" placeholder="Name"  th:classappend="${user != null and #fields.hasErrors('name')} ? 'is-invalid': ''"/>
                                <span class="invalid-feedback" th:if="${user != null and #fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </div>
                        </div>
                        <div class="form-group row" th:if="${type == 'registration'}">
                            <div class="col-sm-12">
                                <input th:value="${user != null} ? *{surname}: ''" type="text" class="form-control" name="surname" id="loginSurname" placeholder="Surname"  th:classappend="${user != null and #fields.hasErrors('surname')} ? 'is-invalid': ''"/>
                                <span class="invalid-feedback" th:if="${user != null and #fields.hasErrors('surname')}" th:errors="*{surname}"></span>
                            </div>
                        </div>
                        <div class="form-group row" th:if="${type == 'registration'}">
                            <div class="col-sm-12">
                                <input th:value="${user != null} ? *{secName}: ''" type="text" class="form-control" name="secName" id="loginSecondName" placeholder="Second Name"  th:classappend="${user != null and #fields.hasErrors('secName')} ? 'is-invalid': ''"/>
                                <span class="invalid-feedback" th:if="${user != null and #fields.hasErrors('secName')}" th:errors="*{secName}"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input th:if="${type == 'registration'}" th:value="${user != null} ? *{username}: ''" type="text" class="form-control"  name="username" id="loginUsername" placeholder="Username" th:classappend="${type == 'registration' and user != null and #fields.hasErrors('username')} ? 'is-invalid': ''"/>
                                <input th:unless="${type == 'registration'}" type="text" class="form-control"  name="username" id="loginUsername" placeholder="Username" th:classappend="${type == 'registration' and user != null and #fields.hasErrors('username')} ? 'is-invalid': ''"/>
                                <th:block th:if="${type == 'registration'}"><span class="invalid-feedback" th:if="${user != null and #fields.hasErrors('username')}" th:errors="*{username}"></span></th:block>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" name="password" id="loginPassword" placeholder="Password" th:classappend="${type == 'registration' and user != null and #fields.hasErrors('password')} ? 'is-invalid': ''"/>
                                <th:block th:if="${type == 'registration'}"><span class="invalid-feedback" th:if="${user != null and #fields.hasErrors('password')}" th:errors="*{password}"></span></th:block>
                            </div>
                        </div>
                        <div class="form-group row" th:if="${type == 'registration'}">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" name="password2" id="loginPassword2" placeholder="Repeat password" th:classappend="${password2 != null or passwordDiffError != null} ? 'is-invalid': ''"/>
                                <span class="invalid-feedback" th:if="${password2 != null}" th:text="${password2}"></span>
                                <span class="invalid-feedback" th:if="${passwordDiffError != null}" th:text="${passwordDiffError}"></span>
                            </div>
                        </div>
                        <div class="form-group row text-center" th:if="${type == 'registration'}">
                            <span class="col-sm-4 col-form-label">You register as:</span>
                            <div class="col-sm-8 flex_checkbox">
                                <div class="form-check form-check-inline">
                                    <input name="role" class="form-check-input" type="checkbox" value="PARTICIPANT" id="participantCheckbox"/>
                                    <label class="form-check-label" for="participantCheckbox">
                                        Participant
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input name="role" class="form-check-input" type="checkbox" value="ORGANIZER" id="organizerCheckbox"/>
                                    <label class="form-check-label" for="organizerCheckbox">
                                        Organizer
                                    </label>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-block btn-dark tx-tfm border-form" th:if="${type == 'registration'}">Sign Up</button>
                        <button type="submit" class="btn btn-block btn-dark tx-tfm button-form" th:unless="${type == 'registration'}">Sign In</button>
                    </form>

                    <div class="col-md-12">
                        <div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                        </div>
                    </div>

                    <a type="button" class="btn btn-block btn-primary tx-tfm" href="/login" th:if="${type == 'registration'}">Sign In</a>
                    <a type="button" class="btn btn-block btn-primary tx-tfm" href="registration" th:unless="${type == 'registration'}">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</html>