<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div th:fragment="log_form (type)">
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <h3 th:text="${#strings.capitalize(type)}"></h3>
        <div class="alert alert-success" role="alert" th:if="${message != null}" th:text="${message}"></div>
        <form action="#" th:action="@{/} + ${type}" method="post" th:object="${user}">
            <th:block th:if="${type == 'registration'}" layout:insert="~{fragments/form-row :: row-full (name = 'email', user = ${user}, field = 'email', placeholder = 'example@exam.com', rowtype = 'email', error = ${user != null} ? *{email} : '')}"></th:block>
            <th:block th:if="${type == 'registration'}" layout:insert="~{fragments/form-row :: row-short (name = 'name', user = ${user}, field = 'name', error = ${user != null} ? *{name} : '')}"></th:block>
            <th:block th:if="${type == 'registration'}" layout:insert="~{fragments/form-row :: row-short (name = 'surname', user = ${user}, field = 'surname', error = ${user != null} ? *{surname} : '')}"></th:block>
            <th:block th:if="${type == 'registration'}" layout:insert="~{fragments/form-row :: row-short (name = 'second name', user = ${user}, field = 'secName', error = ${user != null} ? *{secName} : '')}"></th:block>
            <div class="form-group row">
                <label for="loginUsername" class="col-sm-2 col-form-label">Username:</label>
                <div class="col-sm-6">
                    <input th:if="${type == 'registration'}" th:value="${user != null} ? *{username}: ''" type="text" class="form-control"  name="username" id="loginUsername" placeholder="Username" th:classappend="${type == 'registration' and user != null and #fields.hasErrors('username')} ? 'is-invalid': ''"/>
                    <input th:unless="${type == 'registration'}" type="text" class="form-control"  name="username" id="loginUsername" placeholder="Username" th:classappend="${type == 'registration' and user != null and #fields.hasErrors('username')} ? 'is-invalid': ''"/>
                    <th:block th:if="${type == 'registration'}"><span class="invalid-feedback" th:if="${user != null and #fields.hasErrors('username')}" th:errors="*{username}"></span></th:block>
                </div>
            </div>
            <div class="form-group row">
                <label for="loginPassword" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="password" id="loginPassword" placeholder="Password" th:classappend="${type == 'registration' and user != null and #fields.hasErrors('password')} ? 'is-invalid': ''"/>
                    <th:block th:if="${type == 'registration'}"><span class="invalid-feedback" th:if="${user != null and #fields.hasErrors('password')}" th:errors="*{password}"></span></th:block>
                </div>
            </div>
            <div class="form-group row" th:if="${type == 'registration'}">
                <label for="loginPassword2" class="col-sm-2 col-form-label">Repeat password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="password2" id="loginPassword2" placeholder="Repeat password" th:classappend="${password2 != null or passwordDiffError != null} ? 'is-invalid': ''"/>
                    <span class="invalid-feedback" th:if="${password2 != null}" th:text="${password2}"></span>
                    <span class="invalid-feedback" th:if="${passwordDiffError != null}" th:text="${passwordDiffError}"></span>
                </div>
            </div>
            <div class="form-group row" th:if="${type == 'registration'}">
                <span class="col-sm-2 col-form-label">You register as:</span>
                <div class="col-sm-6 flex_checkbox">
                    <div class="form-check form-check-inline">
                        <input name="role" class="form-check-input" type="checkbox" value="PARTICIPANT" id="participantCheckbox">
                        <label class="form-check-label" for="participantCheckbox">
                            Participant
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input name="role" class="form-check-input" type="checkbox" value="ORGANIZER" id="organizerCheckbox">
                        <label class="form-check-label" for="organizerCheckbox">
                            Organizer
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-dark" th:if="${type == 'registration'}">Sign Up</button>
                    <button type="submit" class="btn btn-dark" th:unless="${type == 'registration'}">Sign In</button>
                </div>
            </div>
        </form>

        <a href="/login" th:if="${type == 'registration'}">Sign In</a>
        <a href="registration" th:unless="${type == 'registration'}">Sign Up</a>
    </div>
</html>