<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <form th:action="@{/logout}" method="post" class="form-inline" th:fragment="logout" sec:authorize="isAuthenticated()" style="margin: 0">
        <a class="nav-link" th:href="@{/user/} + ${#authentication.principal.id}"><span sec:authentication="name"></span></a>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Log Out</button>
    </form>
</html>