.calendar-day {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 80px;
}

.calendar-table {
    margin: 0 auto;
    color: #ffc107 !important;
}

.selected {
    background-color: rgba(120, 120, 120, 0.3);
}

.outside .date {
    color: #ffc107;
}

.table-tight > thead > tr > th,
.table-tight > tbody > tr > th,
.table-tight > tfoot > tr > th,
.table-tight > thead > tr > td,
.table-tight > tbody > tr > td,
.table-tight > tfoot > tr > td {
    padding-right: 0;
}

.table-tight-vert > thead > tr > th,
.table-tight-vert > tbody > tr > th,
.table-tight-vert > tfoot > tr > th,
.table-tight-vert > thead > tr > td,
.table-tight-vert > tbody > tr > td,
.table-tight-vert > tfoot > tr > td {
    padding-top: 0;
    padding-bottom: 0;
}