html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1 0 auto;
}

#footer {
    flex-shrink: 0;
}

.flex_checkbox {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-avatar {
    width: 40px;
    height: 40px;
}