<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/layout"><div layout:fragment="content">
    <!--Блок для написания кода-->
    <div class="container">
        <img th:src="@{/img/} + ${competition.titleFilename}" class="card-img-top" alt="title" th:onerror="'this.onerror=null; this.src=`' + @{/img/compTitle.png} + '`;'"/>
        <div class="card-body">
            <h1 class="card-title" th:text="${competition.compName}" id="compNameHeader"></h1>
            <h6 class="card-title" th:text="'Organized by ' + ${competition.organizer.name}" id="organizedByHeader"></h6>
            <p class="card-text" th:text="${competition.description}" id="descriptionHeader"></p>
            <p class="card-text">
                <th:block th:each="theme : ${competition.themes}">
                    <span>#</span><i th:text="${#strings.capitalize(theme.toString())}"></i><span> </span>
                </th:block>
            </p>
            <p class="card-text" id="startDateHeader">Start: <span th:text="${#strings.replace(competition.startDate, 'T', ' ')}"></span></p>
            <p class="card-text" id="endDateHeader">End: <span th:text="${#strings.replace(competition.endDate, 'T', ' ')}"></span></p>
            <n id="nnn" th:value="${competition.organizer.id}" class="d-none"></n>
            <n id="mmm" th:value="${#authentication.principal.id}" class="d-none"></n>
        </div>
        <th:block sec:authorize="hasAuthority('PARTICIPANT')" th:if="${competition.organizer.id != #authentication.principal.id}">
            <th:block th:if="${!participate}">
                <button type="button" class="btn btn-warning btn-lg btn-block" onclick="$('.dropdown').toggle()">Sign up for a Competition</button>
                <div class="btn-group dropdown container-fluid" style="display: none">
                    <form class="px-4 py-3 container-fluid" method="post" th:action="@{/competition/} + ${competition.id} + '/join'">
                        <div class="form-group">
                            <label for="team">The team in which you will participate:</label>
                            <select id="team" name="team">
                                <th:block th:each="team : ${#authentication.principal.teams}">
                                    <option th:value="${team.id}" th:text="${team.teamName}"></option>
                                </th:block>
                            </select>
                        </div>
                        <!-- Оставлю сюда "Для галочки" галочку, ведь это так важно, вдруг никто не заметит -->
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck"/>
                            <label class="form-check-label" for="dropdownCheck">
                                I agree to sell my soul to the devil for the right to participate in this competition
                            </label>
                        </div>
                        <p class="text-danger" style="display: none" id="org-danger-message">Your team contains the organizer of this competition! He will not be counted as a participant!</p>
                        <button type="submit" class="btn btn-success btn-lg btn-block mt-2" id="join-button">Sign up for a competition</button>
                    </form>
                </div>
            </th:block>
            <th:block th:unless="${!participate}">
                <form method="post" th:action="@{/competition/} + ${competition.id} + '/quit'">
                    <button type="submit" class="btn btn-danger btn-lg btn-block" id="quit-button">Refuse to participate in the competition</button>
                </form>
            </th:block>
        </th:block>

        <div sec:authorize="hasAuthority('ORGANIZER')" th:if="${competition.organizer.id == #authentication.principal.id and expired}" class="col-sm-16 mt-2">
            <h5 class="text-center">The competition is over, indicate its results:</h5>


            <div class="input-group d-inline-flex col-sm-12 m-1">
                <div class="input-group-prepend">
                    <div class="input-group-text group-prepend" style="width: 150px;">
                        Winner:
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Winner" id="winner" name="winner" list="teamList"/>
            </div>

            <div class="input-group d-inline-flex col-sm-12 m-1">
                <div class="input-group-prepend">
                    <div class="input-group-text group-prepend" style="width: 150px;">
                        Second Place:
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Second Place" id="second" name="winner" list="teamList"/>
            </div>

            <div class="input-group d-inline-flex col-sm-12 m-1">
                <div class="input-group-prepend">
                    <div class="input-group-text group-prepend" style="width: 150px;">
                        Third Place:
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Third Place" id="third" name="winner" list="teamList"/>
            </div>

            <div class="input-group d-inline-flex col-sm-12 m-1">
                <button id="newSpotted" class="btn-info btn btn-lg btn-block">Was someone noticed by the sponsor? Add them:</button>
            </div>

            <datalist id="teamList">
                <th:block th:each="team : ${competition.teams}">
                    <option th:value="${team.teamName}" th:text="${team.teamName}"></option>
                </th:block>
            </datalist>

            <button onclick="grade();" class="btn-success btn btn-lg btn-block mt-3 mb-5">Grade</button>
        </div>

        <div class="col-sm-16 mt-2">
            <h3 class="text-center" id="participantsHeader">Participants:</h3>
            <th:block th:each="team : ${competition.teams}">
                <div class="list-group-item bg-dark" th:id="'team-id-' + ${team.id}" th:onclick="'$(\'#teammates-team-id-' + ${team.id} + '\').toggle()'">
                    Название команды: <i th:text="${#strings.capitalize(team.teamName)}"></i>
                    <div class="float-right" style="margin-top: -7px;" sec:authorize="hasAuthority('ORGANIZER')" th:if="${competition.organizer.id == #authentication.principal.id}">
                        <button type="button" class="btn btn-primary">Write</button>
                        <button type="button" class="btn btn-danger" th:onclick="'removeTeam(' + ${team.id} + ');'">Remove</button>
                    </div>
                </div>
                <div class="list-group-item bg-dark" th:id="'teammates-team-id-' + ${team.id}" style="display: none;">
                    <ul>
                        <th:block th:each="teammate : ${team.teammates}">
                            <div class="row mt-2">
                                <li th:text="${teammate.username}"></li>
                                <button type="button" class="btn btn-primary float-right write-button" style="margin-top: -4px; margin-left: auto" th:data-recipientId="${teammate.id}">Write</button>
                            </div>
                        </th:block>
                    </ul>
                </div>
            </th:block>
        </div>
    </div>
    <script th:if="${competition.organizer.id != #authentication.principal.id}" th:src="@{/js/competitionChecker.js}"></script>
    <script th:if="${competition.organizer.id == #authentication.principal.id}" th:src="@{/js/competitionAdmin.js}"></script>
    <script th:src="@{/js/messengerUtil.js}"></script>
    <!---->
</div></html>