<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/layout"><div layout:fragment="content">

    <div class="modal fade" id="writeToEveryone" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header text-center d-block">
                    <h5 class="modal-title" id="exampleModalLabel">Create group chat</h5>
                </div>
                <div class="modal-body" id="messenger-modal-body">
                    <input type="text" class="form-control mb-1" placeholder="Group chat name" id="group-chat-name" autocomplete="off" autocapitalize="off" />
                    <input type="text" class="form-control mb-3" placeholder="User" id="user-list-input" autocomplete="off" autocapitalize="off" />

                    <div class="container" id="messenger-modal-body-users">
                        <th:block th:each="user : ${userList}">
                            <div class="row m-2 user-modal" style="display: flow-root">
                                <label th:for="${user.id} + 'chosen'" th:data-id="${user.id}" class="user-modal-checkbox">
                                    <span th:text="${user.getFullNameWithUsername()}"></span>
                                    <input type="checkbox" th:id="${user.id} + 'chosen'" th:data-user-id="${user.id}" class="user-modal-checkbox user-modal-checkbox-input">
                                    <span class="user-modal-checkbox-mark"></span>
                                </label>
                            </div>
                        </th:block>
                    </div>

                    <button type="button" class="btn btn-block btn-warning" onclick="createGroupChat();">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="height: 90%;">
            <div class="col-sm-3 bg-dark" id="chats">
                <div class="mb-4 input-group d-inline-flex">
                    <input type="text" placeholder="Search" class="form-control mt-2" id="search-chat" autocapitalize="off" autocomplete="off"/>
                    <i class="input-group-append mt-2 fa fa-plus text-center" id="add-group-class-button" data-toggle="modal" data-target="#writeToEveryone"></i>
                </div>

                <div id="chat-list">
                    <th:block th:each="chat : ${chats}">
                        <div th:text="${T(Long).compare(chat.senderId, #authentication.principal.id) == 0 ? recipientUsernames.get(chat.recipientId) : senderUsernames.get(chat.senderId)}" class="chat-in-menu text-center m-1" th:id="${chat.chatId}" th:data-recipientId="${chat.recipientId}" th:data-chatId="${chat.chatId}" th:data-group="${false}"></div>
                    </th:block>
                    <th:block th:each="groupChat : ${groupChats}">
                        <div th:text="${groupChat.chatName}" class="chat-in-menu text-center m-1" th:id="${groupChat.chatId}" th:data-chatId="${groupChat.chatId}" th:data-group="${true}"></div>
                    </th:block>
                </div>
            </div>
            <div class="col-sm-9 bg-dark p-3" id="chat-block">
                <div id="chat-window"></div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/websocketUtil.js}"></script>
    <script th:src="@{/js/messenger.js}"></script>

</div></html>