<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout}"><div layout:fragment="content">

    <!-- страничка для орга - мои соревнования. Содержит текущие
    соревнования и те, что в архиве. -->
<div class="container">
    <div class="row">

        <div class="col-sm">
                <h5 class="text-center">Текущие соревнования</h5>
            <ul class="list-group-text-center">
                    <th:block th:each="competition: ${competition.id}">
                        <li class="list-group-item team bg-dark"> <a th:href="@{/running}"></a></li>
                    </th:block>
            </ul>
        </div>
        <div class="col-sm">
            <h5 class="text-center">Архив</h5>
                <ul class="list-group-text-center">
                    <th:block th:each="competition:${competition.id}">
                        <li class="list-group-item team bg-dark"> <a th:href="@{/archive}"></a></li>
                    </th:block>
                </ul>
        </div>
    </div>
</div>


</div>
</html>