<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/layout"><div layout:fragment="content">
    <!--Блок для написания кода-->

    <div id="upload-image-modal-container"></div>

    <div class="container mb-3 text-center">
        <div class="row">
            <div class="col-sm-3">
                <h2 th:text="${team.teamName}" id="team-name-header"></h2>
                <div class="image-uploadable-container unselectable" id="image-uploadable-container-id">
                <img th:src="@{/img/} + ${team.logoFilename}" class="image-uploadable" alt="logo" style="max-height: 200px; width: auto; max-width: 100%" id="team-logo" th:onerror="'this.onerror=null; this.src=`' + @{/img/teamLogo.png} + '`;'"/>
                <div class="image-uploadable-overlay" id="image-uploadable-overlay-logo" data-toggle='modal' data-target='#upload-image-modal'>
                    <div class="image-uploadable-overlay-text">Upload</div>
                </div>
            </div>
            <a th:href="'/messenger/' + ${team.groupChatId}" type="button" class="btn btn-primary rounded-0" id="join-group-chat" th:if="${team.teammates.contains(#authentication.principal)}">Group chat</a>
            </div>
            <div class="col-sm-4">
                <div class="d-none" id="winCount" th:data-winCount="${winCount}"></div>
                <div class="d-none" id="secondCount" th:data-secondCount="${secondCount}"></div>
                <div class="d-none" id="thirdCount" th:data-thirdCount="${thirdCount}"></div>
                <div class="d-none" id="spotted" th:data-spotted="${spotted}"></div>
                <div class="row py-4"></div>
                <div class="row">
                    <div class="col-sm-8 text-left">
                        Total:
                        <th:block th:text="${participate}">
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 text-left">
                        Wins:
                        <th:block th:text="${winCount}">
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 text-left">
                        2nd:
                        <th:block th:text="${secondCount}">
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 text-left">
                        3rd:
                        <th:block th:text="${thirdCount}">
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 text-left">
                        Spotted by sponsors:
                        <th:block th:text="${spotted}">
                        </th:block>
                    </div>
                </div>
            </div>
        <div class="col d-flex justify-content-center">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <canvas id="chDonut"></canvas>
                        </div>
                </div>
        </div>
        </div>
    </div>
    <a type="button" th:href="@{/calendar/team/} + ${team.id}" class="btn btn-warning btn-lg btn-block mb-1" id="quit-button">Calendar</a>
    <form th:if="${#authentication.principal.getTeams().contains(team)}" method="post" th:action="@{/team/} + ${team.id} + '/quit'">
        <button type="submit" class="btn btn-warning btn-lg btn-block">Quit</button>
    </form>
    <form th:unless="${#authentication.principal.getTeams().contains(team)}" method="post" th:action="@{/team/} + ${team.id} + '/join'">
        <button type="submit" class="btn btn-success btn-lg btn-block">Join</button>
    </form>

    <div class="card-columns">
        <th:block th:each="user: ${team.teammates}" >
            <div class="card text-white bg-dark mb-3 text-center" style="max-width: 18rem;">
                <a th:href="@{/user/} + ${user.id}" class="card-link">
                    <div class="card-header" th:text="${user.surname} + ' ' + ${user.name} + ' (' + ${user.username} + ')'">Full name</div>
                    <div class="card-body">
                        <img th:src="@{/img/} + ${user.avatarFilename}" style="width: 100px; height: auto;" class="card-img-top" th:onerror="'this.onerror=null; this.src=`' + @{/img/default.png} + '`;'"/>
                        <!--                    <h5 class="card-title">Тут можно написать главную командную роль этого человека</h5>-->
                    </div>
                </a>
                <button type="button" class="btn btn-primary btn-block write-button" th:data-recipientId="${user.id}">Write</button>
            </div>
        </th:block>
    </div>
    <link th:href="@{/js/libs/croppr.min.css/}" rel="stylesheet" />
    <script th:src="@{/js/libs/croppr.min.js/}"></script>
    <script th:src="@{/js/messengerUtil.js}"></script>
    <script th:src="@{/js/imageUtils.js}"></script>
    <script th:src="@{/js/team.js}"></script>
    <script th:src="@{/js/statDiagram.js}"></script>
    <!---->
</div></html>