<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/layout"><div layout:fragment="content">
    <!--Блок для написания кода-->
    <a type="button" class="btn btn-warning btn-lg btn-block" th:href="@{/add-team}">Add new Team</a>
    <div layout:replace="fragments/pager :: pager (url = ${url}, page = ${page}, filter = ${filter})">
        <div layout:fragment="pagerContent">
            <div class="card-columns" id="team-list">
                <th:block th:if="${not #lists.isEmpty(page.content)}">
                    <th:block th:each="team: ${page}" >
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${team.teamName}"></h5>
                            </div>
                            <a th:href="@{/team/} + ${team.id}"><img th:src="@{/img/} + ${team.logoFilename}" class="card-img-bottom" alt="logo"></a>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
    <!---->
</div></html>