<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/layout"><div layout:fragment="content">
    <!--Блок для написания кода-->
    <div class="container mb-3 text-center">
        <h1 th:text="${team.teamName}"></h1>
        <img th:src="@{/img/} + ${team.logoFilename}" alt="logo" style="max-height: 200px; width: auto" id="team-logo" th:onerror="'this.onerror=null; this.src=`' + @{/img/teamLogo.png} + '`;'"/>
    </div>
    <form th:if="${#authentication.principal.getTeams().contains(team)}" method="post" th:action="@{/team/} + ${team.id} + '/quit'">
        <button type="submit" class="btn btn-warning btn-lg btn-block">Quit</button>
    </form>
    <form th:unless="${#authentication.principal.getTeams().contains(team)}" method="post" th:action="@{/team/} + ${team.id} + '/join'">
        <button type="submit" class="btn btn-success btn-lg btn-block">Join</button>
    </form>

    <div class="card-columns">
        <th:block th:each="user: ${team.teammates}" >
            <a th:href="@{/user/} + ${user.id}" class="card-link">
                <div class="card text-white bg-info mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header" th:text="${user.surname} + ' ' + ${user.name}">Full name</div>
                    <div class="card-body">
                        <img th:src="@{/img/} + ${user.avatarFilename}" style="width: 100px; height: auto;" class="card-img-top" th:onerror="'this.onerror=null; this.src=`' + @{/img/default.png} + '`;'"/>
                        <!--                    <h5 class="card-title">Тут можно написать главную командную роль этого человека</h5>-->
                    </div>
                </div>
            </a>
        </th:block>
    </div>
    <!---->
</div></html>