<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/layout"><div layout:fragment="content">
    <!--Блок для написания кода-->
    <!-- Для странички нужно:
        пользователь, с его личной информацией,
        табличка команд, чтобы можно было показывать команды в которых есть пользователь,
        соревнования, чтобы можно было показать статистику, а также
        ... мб еще что
    -->
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-2"><img th:src="@{/img/} + ${user.avatarFilename}" id="user-avatar" style="max-width: 100px; height: auto; max-height: 200px;" th:onerror="'this.onerror=null; this.src=`' + @{/img/default.png} + '`;'"/></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 th:text="${user.surname} + ' ' + ${user.name} + ' ' + ${user.secName} + ' (' + ${user.username} + ')'" id="user-full-name"></h3>
                    </div>
                    <div class="col-sm-8" id="user-team-roles">
                        Командные роли:
                        <th:block th:each="role : ${user.teamRoles}">
                            <i class="list-group-item" th:text="${#strings.capitalize(role.name())}"></i>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5 class="text-center">Команды</h5>
                <ul class="list-group">
                    <th:block th:each="team : ${user.teams}">
                        <li class="list-group-item team"><a th:href="@{/team/} + ${team.id}" th:text="${team.teamName}"></a></li>
                    </th:block>
                </ul>
            </div>
            <div class="col-sm">
                <h5 class="text-center">Соревнования</h5>
                <div class="col-sm">
                    <ul class="list-group">
                        <th:block th:each="team : ${user.teams}">
                            <th:block th:each="comp : ${team.statistics}">
                                <li class="list-group-item competition"><a th:href="@{/competition/} + ${comp.id}" th:text="${comp.compName}"></a></li>
                            </th:block>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!---->
</div></html>