<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>NetHacker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
        <script th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    </head>

    <body>
        <!-- header -->
        <div id="header" th:fragment="header">
            <th:block th:replace="parts/markup :: navbar"></th:block>
        </div>

        <!-- footer -->
        <div id="footer" th:fragment="footer">NetHackerTeam</div>

        <!-- navbar -->
        <th:block th:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">NH</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Когда определимся с дизайном: сделать кнопки и выдать права доступа к секциям -->
                </div>
            </nav>
        </th:block>
    </body>

    <!-- scripts -->
    <th:block th:fragment="scripts">
        <script th:src="@{/js/script.js}"></script>
    </th:block>
</html>